<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Google Mobile Calculator">
    <test name="Basic Operations">
        <classes>
            <class name="test.BasicOperationsTest"/>
        </classes>
    </test>
    <test name="Advanced Operations">
        <classes>
            <class name="test.AdvancedOperationsTest"/>
        </classes>
    </test>
    <test name="History and mode functionality">
        <classes>
            <class name="test.HistoryFunctionalityTest"/>
            <class name="test.ModeTest"/>
        </classes>
    </test>
</suite>